Repository Automattic/sensei, pull requests merged in 2022-04, with the labels that each got.

#4975 Fix wrong data for column in exported csv in Reports->Lessons
  includes/class-sensei-analysis-overview-list-table.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-abstract.php
  tests/unit-tests/reports/overview/list-table/test-class-sensei-reports-overview-list-table-abstract.php
Labels: [Type] Bug

#4973 Use Sensei Reports Factory for generating report
  includes/class-sensei-analysis.php
  includes/reports/overview/data-provider/class-sensei-reports-overview-data-provider-courses.php
  includes/reports/overview/data-provider/class-sensei-reports-overview-data-provider-lessons.php
  includes/reports/overview/data-provider/class-sensei-reports-overview-data-provider-students.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-abstract.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-factory.php
Labels: Reports

#4978 Fix "Days to Completion" and "Module" columns are swapped when exporting lessons
  includes/class-sensei-modules.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-lessons.php
Labels: [Type] Bug, Reports, Deprecation

#4974 Students Management: Make the bulk actions screen to be the main students page
  includes/admin/class-sensei-learner-management.php
  includes/admin/class-sensei-learners-admin-bulk-actions-controller.php
  includes/admin/views/html-admin-page-students-course.php
  includes/admin/views/html-admin-page-students-main.php
  includes/class-sensei.php
Labels: [Type] Enhancement, Deprecation, Student Management

#4982 Deprecate analysis overview list table
  includes/class-sensei-analysis-overview-list-table.php
  tests/unit-tests/test-class-sensei-analysis-overview-list-table.php
Labels: [Type] Maintenance, Deprecation

#4981 Rename the admin/students page
  includes/admin/class-sensei-learner-management.php
Labels: Student Management

#4986 Add email column and remove enrollment column from student management table
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: Learner Management

#4951 Block quiz answers when the quiz is completed
  includes/class-sensei-question.php
  includes/class-sensei-utils.php
  templates/single-quiz/question-type-boolean.php
  templates/single-quiz/question-type-file-upload.php
  templates/single-quiz/question-type-gap-fill.php
  templates/single-quiz/question-type-multiple-choice.php
  templates/single-quiz/question-type-single-line.php
Labels: Quizzes

#4976 Api for removing multiple users from multiple courses
  includes/rest-api/class-sensei-rest-api-course-students-controller.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-course-students-controller.php
Labels: [Type] Enhancement, Student Management

#4985 Some preparation to reuse question components
  assets/blocks/quiz/answer-blocks/index.js
  assets/blocks/quiz/question-block/question-edit.js
  assets/blocks/quiz/question-block/question-type-toolbar.js
Labels: [Type] Enhancement

#4994 Add last activity colum to student management table
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  includes/class-sensei-analysis-overview-list-table.php
  includes/class-sensei-db-query-learners.php
  includes/class-sensei-utils.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-abstract.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-students.php
  tests/unit-tests/test-class-sensei-learners-admin-bulk-actions-view.php
  tests/unit-tests/test-class-utils.php
Labels: Student Management

#4996 Allow overriding text domain used for script translations
  includes/class-sensei-assets.php
Labels: [Type] Enhancement

#5009 Extends `OptionToggle` to be used with input
  assets/blocks/quiz/answer-blocks/option-toggle.js
  assets/blocks/quiz/answer-blocks/option-toggle.scss
Labels: [Type] Enhancement

#5003 Refresh page after performing modal action
  assets/admin/students/student-action-menu/index.js
  assets/admin/students/student-modal/index.js
Labels: Student Management

#5012 Return 404 if course not found and 403 for permission issues and update tests
  includes/rest-api/class-sensei-rest-api-course-progress-controller.php
  includes/rest-api/class-sensei-rest-api-course-students-controller.php
  tests/framework/trait-sensei-rest-api-test-helpers.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-course-progress-controller.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-course-students-controller.php
Labels: Student Management

#4997 Update/bulk actions filters searchbox design
  assets/css/settings.scss
  assets/js/learners-bulk-actions.js
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: Student Management

#5013 Update the view of Student management -> course progress column
  assets/css/admin-custom.scss
  assets/js/learners-bulk-actions.js
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: Student Management

#5005 Update header on the Students page and add a doc link
  assets/css/admin-custom.scss
  includes/admin/class-sensei-learner-management.php
  includes/admin/views/html-admin-page-students-main.php
  includes/class-sensei-admin.php
Labels: [Type] Enhancement, Student Management

#5014 Show Add Students CTA when there are no students on the course
  assets/css/admin-custom.scss
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: [Type] Enhancement, Student Management

#5024 Fix input toggle in TwentyTwenty One theme
  assets/blocks/quiz/answer-blocks/option-toggle.js
  assets/blocks/quiz/answer-blocks/option-toggle.scss
Labels: [Type] Bug

#5006 Update appearance of the Students column content
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  includes/class-sensei-list-table.php
Labels: [Type] Enhancement, Student Management

#5030 Fix issue with checkboxes on multiple choice questions in Twenty Twenty theme
  assets/blocks/quiz/answer-blocks/option-toggle.scss
Labels: [Type] Bug

#5022 Update/add totals to students column in students
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: Student Management

#5033 Return data from add students endpoint
  includes/rest-api/class-sensei-rest-api-course-students-controller.php
  tests/framework/trait-sensei-rest-api-test-helpers.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-course-students-controller.php
Labels: [Type] Enhancement, Student Management

#5021 Update students per course table column header and content
  assets/css/settings.scss
  includes/admin/class-sensei-learners-main.php
  tests/unit-tests/reports/overview/list-table/test-class-sensei-reports-overview-list-table-lessons.php
Labels: [Type] Enhancement, Student Management

#5025 Update navigation for the Students per course page
  assets/css/admin-custom.scss
  includes/admin/class-sensei-learner-management.php
  includes/admin/class-sensei-learners-main.php
Labels: [Type] Enhancement, Student Management

#5037 Fix lint errors on legacy files
  includes/class-sensei-analysis-overview-list-table.php
  includes/class-sensei-analysis.php
  includes/class-sensei-messages.php
Labels: [Type] Maintenance

#5035 Fix css and markup and move bulk action to bottom for mobile
  assets/css/settings.scss
  assets/js/learners-general.js
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  jest.setup.js
Labels: [Type] Enhancement, Student Management

#5026 Change add student to course box in student per course page
  assets/css/settings.scss
  assets/js/learners-general.js
  includes/admin/class-sensei-learners-main.php
  jest.setup.js
Labels: [Type] Enhancement, Student Management

#5040 Add error handling to Students modal
  assets/admin/students/student-modal/index.js
  assets/admin/students/student-modal/index.test.js
  assets/admin/students/student-modal/student-modal.scss
Labels: [Type] Enhancement, Student Management

#5004 Open Student Modal when selecting bulk actions
  assets/admin/lib/http-client/index.test.js
  assets/admin/students/student-bulk-action-button/index.js
  assets/admin/students/student-bulk-action-button/index.test.js
  assets/admin/students/student-modal/index.js
  assets/css/settings.scss
  assets/js/learners-bulk-actions.js
  includes/admin/class-sensei-learner-management.php
  includes/admin/class-sensei-learners-admin-bulk-actions-controller.php
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  webpack.config.js
Labels: Student Management

#5023 Add the ability to search courses in the modal
  assets/admin/students/student-modal/course-list-fetch.test.js
  assets/admin/students/student-modal/course-list.js
  assets/admin/students/student-modal/course-list.test.js
  assets/admin/students/student-modal/index.js
  assets/admin/students/student-modal/student-modal.scss
Labels: [Type] Enhancement, Student Management

#5043 Display Enrolled Courses instead of Course Progress
  includes/admin/class-sensei-learner-management.php
  includes/admin/class-sensei-learners-admin-bulk-actions-controller.php
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  includes/admin/views/html-admin-page-students-main.php
  includes/class-sensei-db-query-learners.php
  tests/unit-tests/admin/test-class-sensei-learners-admin-bulk-actions-view.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard-api.php
  tests/unit-tests/admin/test-class-sensei-status.php
  tests/unit-tests/blocks/course-theme/test-class-lesson-actions.php
  tests/unit-tests/blocks/test-class-sensei-block-learner-courses.php
  tests/unit-tests/blocks/test-class-sensei-block-take-course.php
  tests/unit-tests/blocks/test-class-sensei-lesson-actions-blocks.php
  tests/unit-tests/test-class-sensei-db-query-learners.php
  tests/unit-tests/test-class-sensei-learners-admin-bulk-actions-controller.php
  tests/unit-tests/test-class-sensei-learners-admin-bulk-actions-view.php
Labels: [Type] Enhancement, Student Management

#5038 Show student count/name on course selection modal
  assets/admin/students/student-action-menu/index.js
  assets/admin/students/student-bulk-action-button/index.js
  assets/admin/students/student-bulk-action-button/index.test.js
  assets/admin/students/student-modal/course-list.js
  assets/admin/students/student-modal/course-list.test.js
  assets/admin/students/student-modal/index.js
  assets/admin/students/student-modal/index.test.js
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  tests/unit-tests/admin/test-class-sensei-learners-admin-bulk-actions-view.php
Labels: [Type] Enhancement, Student Management

#5048 Skip failing JS tests for now
  assets/blocks/quiz/quiz-block/quiz-settings.test.js
Labels: [Type] Maintenance

#5052 Fix GitHub Pages automatic publish
  .github/workflows/build-docs.yml
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  .github/workflows/js.yml
  .github/workflows/php.yml
  .github/workflows/report-build.yml
Labels: [Pri] Low, [Type] Maintenance

#5059 Reload student management page after bulk action
  assets/admin/students/student-bulk-action-button/index.js
Labels: Student Management

#5062 Add icon href filter
  includes/class-sensei-assets.php
Labels: Hooks

#5060 Update documentation link URL for Student Management
  includes/admin/class-sensei-learner-management.php
Labels: [Type] Enhancement, Student Management

#5069 Rename Bulk actions
  includes/admin/class-sensei-learners-admin-bulk-actions-controller.php
  lang/sensei-lms.pot
Labels: Student Management

#5056 Fix "Select courses" button shown as enabled momentarily on load
  assets/admin/students/student-bulk-action-button/index.js
  assets/admin/students/student-bulk-action-button/index.test.js
  assets/js/learners-bulk-actions.js
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
Labels: Student Management

#5073 Rename the `Select Courses` button to `Select Action`
  assets/admin/students/student-bulk-action-button/index.js
  assets/admin/students/student-bulk-action-button/index.test.js
Labels: Student Management

#5072 Fix position of Single Student Actions menu
  assets/css/settings.scss
Labels: Student Management

#5070 Fix spacing issues in filters on the Students page
  assets/css/settings.scss
Labels: Student Management
