Repository Automattic/sensei, pull requests merged in 2022-08, with the labels that each got.

#5392 Fix player API on the editor side when editing embeds with no changes
  assets/shared/helpers/player/use-editor-player.js
Labels: [Type] Bug, Interactive Video Block

#5389 Improve test coverage for Sensei_Lesson
  .codecov.yml
  includes/class-sensei-lesson.php
  tests/unit-tests/test-class-lesson.php
Labels: [Type] Maintenance

#5174 Use standard approach of displaying filters for list tables
  assets/css/settings.scss
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  includes/admin/class-sensei-learners-main.php
  includes/admin/views/html-admin-page-students-course.php
  includes/admin/views/html-admin-page-students-main.php
  includes/class-sensei-analysis-course-list-table.php
  includes/class-sensei-analysis-lesson-list-table.php
  includes/class-sensei-analysis-user-profile-list-table.php
  includes/class-sensei-analysis.php
  includes/class-sensei-grading-main.php
  includes/class-sensei-grading.php
  includes/class-sensei-list-table.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-abstract.php
Labels: [Type] Maintenance

#5410 Add current time to player and hook to get the video duration
  assets/shared/helpers/player/index.js
  assets/shared/helpers/player/use-editor-player.js
  assets/shared/helpers/player/video-file-adapter.js
  assets/shared/helpers/player/videopress-adapter.js
  assets/shared/helpers/player/vimeo-adapter.js
  assets/shared/helpers/player/youtube-adapter.js
Labels: [Type] Enhancement, Interactive Video Block

#5393 Fix multiple emails are send when completing a course in the backend
  includes/admin/class-sensei-learner-management.php
Labels: [Type] Bug

#5421 Fix loading issue where the player wasn't detected correctly on the editor
  assets/shared/helpers/player/use-editor-player.js
Labels: [Type] Bug, Interactive Video Block

#5419 Add the course list block
  assets/blocks/course-list-block/index.js
  assets/blocks/shared.js
  assets/blocks/single-page.js
  includes/block-patterns/class-sensei-block-patterns.php
Labels: Course List Block

#5443 Enable Course Progress block on pages
  assets/blocks/single-page.js
  includes/blocks/class-sensei-page-blocks.php
Labels: Course List Block

#5442 Fix interactive video when no video is set
  assets/shared/helpers/player/use-editor-player.js
Labels: [Type] Bug, Interactive Video Block

#5416 Fix set current time to keep the same behavior for all players
  assets/shared/helpers/player/videopress-adapter.js
  assets/shared/helpers/player/vimeo-adapter.js
  assets/shared/helpers/player/youtube-adapter.js
Labels: [Type] Enhancement, Interactive Video Block

#5454 Change confirm dialog styles
  assets/blocks/editor-components/confirm-dialog/confirm-dialog.scss
Labels: [Type] Enhancement, Interactive Video Block

#5452 Fix timeupdate event on the youtube adapter
  assets/shared/helpers/player/youtube-adapter.js
Labels: [Type] Bug, Interactive Video Block

#5430 Add Course Actions block
  assets/blocks/course-actions-block/continue-course/index.js
  assets/blocks/course-actions-block/course-actions/block.json
  assets/blocks/course-actions-block/course-actions/course-actions-edit.js
  assets/blocks/course-actions-block/course-actions/course-actions-editor.scss
  assets/blocks/course-actions-block/course-actions/course-actions-save.js
  assets/blocks/course-actions-block/course-actions/index.js
  assets/blocks/course-actions-block/index.js
  assets/blocks/single-page-style-editor.scss
  assets/blocks/single-page.js
  includes/blocks/class-sensei-block-view-results.php
  includes/blocks/class-sensei-continue-course-block.php
  includes/blocks/class-sensei-page-blocks.php
  tests/unit-tests/blocks/test-class-sensei-block-view-results.php
  tests/unit-tests/blocks/test-class-sensei-continue-course-block.php
Labels: Course List Block

#5462 Add className prop to Sensei modal
  assets/shared/components/modal/index.js
Labels: [Type] Enhancement, Interactive Video Block

#5464 Revert "Change className prop to not use classnames"
  assets/shared/components/modal/index.js
Labels: [Type] Bug, Interactive Video Block

#5468 Course Outline - Show private lessons only for those who can view them.
  includes/class-sensei-course-structure.php
  tests/unit-tests/test-class-sensei-course-structure.php
Labels: Learning Mode

#5449 Hide query inherit and post type from course list block settings
  assets/blocks/course-list-block/index.js
Labels: Course List Block

#5477 Fix math issue with player
  assets/shared/helpers/player/index.js
  assets/shared/helpers/player/round-with-decimals.js
  assets/shared/helpers/player/round-with-decimals.test.js
Labels: [Type] Bug, Interactive Video Block

#5483 Fix Post Type not getting hidden for older wp versions
  assets/blocks/course-list-block/index.js
Labels: Course List Block

#5455 Enable to show the course category
  assets/blocks/course-categories-block/block.json
  assets/blocks/course-categories-block/course-categories-edit.js
  assets/blocks/course-categories-block/course-categories-edit.test.js
  assets/blocks/course-categories-block/course-categories.scss
  assets/blocks/course-categories-block/hooks/use-course-categories/index.js
  assets/blocks/course-categories-block/hooks/use-course-categories/index.test.js
  assets/blocks/course-categories-block/index.js
  assets/blocks/single-page-style.scss
  assets/blocks/single-page.js
  assets/shared/blocks/settings.js
  includes/blocks/class-sensei-course-categories-block.php
  includes/blocks/class-sensei-page-blocks.php
  package-lock.json
  package.json
  tests/e2e-playwright/specs/test-3.spec.ts
  tests/framework/factories/class-sensei-factory.php
  tests/framework/factories/class-sensei-unittest-factory-for-course-category.php
  tests/unit-tests/blocks/test-class-sensei-course-categories-block.php
Labels: Course List Block

#5496 Take users to the last lesson they were working on
  includes/blocks/class-sensei-continue-course-block.php
  tests/unit-tests/blocks/test-class-sensei-continue-course-block.php
Labels: Course List Block

#5497 Add "Beta" label to Course List block
  assets/blocks/course-list-block/index.js
Labels: Course List Block

#5473 Make course list inner blocks available on all screens
  assets/blocks/global-blocks-style-editor.scss
  assets/blocks/global-blocks-style.scss
  assets/blocks/global-blocks.js
  assets/blocks/single-course.js
  assets/blocks/single-page.js
  includes/blocks/class-sensei-blocks.php
  includes/blocks/class-sensei-global-blocks.php
  webpack.config.js
Labels: Course List Block

#5506 Use Ubuntu Latest instead of Ubuntu 18.04 on Github Actions workflow
  .github/workflows/build.yml
Labels: [Type] Enhancement

#5433 Create and register the patterns for course list block
  includes/block-patterns/class-sensei-block-patterns.php
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
  includes/blocks/class-sensei-block-take-course.php
Labels: Course List Block

#5512 Merge trunk into courses list
  .github/workflows/build.yml
  assets/blocks/editor-components/confirm-dialog/confirm-dialog.scss
  assets/course-theme/blocks/blocks.js
  assets/css/admin-custom.scss
  assets/css/global.scss
  assets/js/admin/course-theme/course-theme-sidebar.js
  assets/js/admin/lesson-bulk-edit.js
  assets/js/admin/lesson-quick-edit.js
  assets/shared/components/modal/index.js
  assets/shared/components/modal/style.scss
  assets/shared/helpers/player/index.js
  assets/shared/helpers/player/round-with-decimals.js
  assets/shared/helpers/player/round-with-decimals.test.js
  assets/shared/helpers/player/use-editor-player.js
  assets/shared/helpers/player/video-file-adapter.js
  assets/shared/helpers/player/videopress-adapter.js
  assets/shared/helpers/player/vimeo-adapter.js
  assets/shared/helpers/player/youtube-adapter.js
  changelog.txt
  includes/admin/class-sensei-learner-management.php
  includes/class-sensei-course-structure.php
  includes/class-sensei-lesson.php
  includes/class-sensei-question.php
  includes/class-sensei-quiz.php
  includes/class-sensei-settings.php
  includes/course-theme/class-sensei-course-theme-templates.php
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
  templates/single-quiz/question-type-multiple-choice.php
  tests/unit-tests/test-class-sensei-course-structure.php
Labels: Course List Block

#5525 Hide from course list picker options
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/global-blocks-style-editor.scss
Labels: Course List Block

#5530 Take users to course page on course title click inside Course List block
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/course-list-block/course-list.scss
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
Labels: Course List Block

#5507 Merge Course List block feature branch into trunk
  assets/blocks/button/index.js
  assets/blocks/course-actions-block/continue-course/index.js
  assets/blocks/course-actions-block/course-actions/block.json
  assets/blocks/course-actions-block/course-actions/course-actions-edit.js
  assets/blocks/course-actions-block/course-actions/course-actions-editor.scss
  assets/blocks/course-actions-block/course-actions/course-actions-save.js
  assets/blocks/course-actions-block/course-actions/index.js
  assets/blocks/course-actions-block/index.js
  assets/blocks/course-categories-block/block.json
  assets/blocks/course-categories-block/course-categories-edit.js
  assets/blocks/course-categories-block/course-categories-edit.test.js
  assets/blocks/course-categories-block/course-categories.scss
  assets/blocks/course-categories-block/hooks/use-course-categories/index.js
  assets/blocks/course-categories-block/hooks/use-course-categories/index.test.js
  assets/blocks/course-categories-block/index.js
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/course-list-block/course-list.scss
  assets/blocks/course-list-block/index.js
  assets/blocks/course-progress-block/block.json
  assets/blocks/course-progress-block/course-progress-edit.js
  assets/blocks/global-blocks-style-editor.scss
  assets/blocks/global-blocks-style.scss
  assets/blocks/global-blocks.js
  assets/blocks/shared.js
  assets/blocks/single-course.js
  assets/blocks/single-page-style-editor.scss
  assets/blocks/single-page-style.scss
  assets/blocks/single-page.js
  assets/blocks/take-course-block/index.js
  assets/blocks/view-results-block/index.js
  assets/css/frontend.scss
  assets/css/pages-frontend.scss
  assets/shared/blocks/progress-bar/progress-bar-settings.scss
  assets/shared/blocks/settings.js
  assets/shared/components/invalid-usage/index.js
  includes/block-patterns/class-sensei-block-patterns.php
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
  includes/blocks/class-sensei-block-take-course.php
  includes/blocks/class-sensei-block-view-results.php
  includes/blocks/class-sensei-blocks.php
  includes/blocks/class-sensei-continue-course-block.php
  includes/blocks/class-sensei-course-categories-block.php
  includes/blocks/class-sensei-course-progress-block.php
  includes/blocks/class-sensei-global-blocks.php
  includes/blocks/class-sensei-page-blocks.php
  includes/hooks/template.php
  package-lock.json
  package.json
  tests/e2e-playwright/specs/test-3.spec.ts
  tests/framework/factories/class-sensei-factory.php
  tests/framework/factories/class-sensei-unittest-factory-for-course-category.php
  tests/unit-tests/blocks/test-class-sensei-block-course-progress.php
  tests/unit-tests/blocks/test-class-sensei-block-take-course.php
  tests/unit-tests/blocks/test-class-sensei-block-view-results.php
  tests/unit-tests/blocks/test-class-sensei-continue-course-block.php
  tests/unit-tests/blocks/test-class-sensei-course-categories-block.php
  webpack.config.js
Labels: Course List Block

#5535 Release 4.6.3
  changelog.txt
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
Labels: Course List Block

#5549 Refactor video extension feature removing wrapper
  assets/js/frontend/course-video/video-blocks-manager.js
  assets/js/frontend/course-video/video-extension.js
  assets/js/frontend/course-video/videopress-extension.js
  assets/js/frontend/course-video/vimeo-extension.js
  assets/js/frontend/course-video/youtube-extension.js
  assets/shared/helpers/player/index.js
  assets/shared/helpers/player/video-file-adapter.js
  assets/shared/helpers/player/videopress-adapter.js
  assets/shared/helpers/player/vimeo-adapter.js
  assets/shared/helpers/player/youtube-adapter.js
  includes/course-video/blocks/class-sensei-course-video-blocks-embed-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-video-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-videopress-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-vimeo-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-youtube-extension.php
  includes/course-video/class-sensei-course-video-settings.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-video-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-videopress-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-vimeo-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-youtube-extension.php
  tests/unit-tests/course-video/test-class-sensei-course-video-settings.php
Labels: [Type] Bug, Deprecation

#5555 Refactor Video Extensions to compute video URL without relying on JS APIs
  assets/js/frontend/course-video/vimeo-extension.js
  assets/js/frontend/course-video/youtube-extension.js
Labels: [Type] Bug, Interactive Video Block
