Repository Automattic/sensei, pull requests merged in 2022-10, with the labels that each got.

#5825 Learning Mode - Fix non-video lessons for Video templates.
  includes/blocks/course-theme/class-ui.php
Labels: Learning Mode

#5760 Add some usage tracking data for learning mode
  includes/class-sensei-usage-tracking-data.php
  tests/unit-tests/test-class-sensei-usage-tracking-data.php
Labels: Learning Mode

#5789 Add featured video to lesson patterns, update pattern looks
  assets/admin/editor-wizard/patterns-list.js
  assets/blocks/featured-video/index.js
  assets/blocks/quiz/question-block/block.json
  assets/blocks/quiz/question-block/index.js
  assets/blocks/quiz/quiz-block/block.json
  assets/blocks/quiz/quiz-block/index.js
  assets/images/featured-video-example.png
  assets/shared/blocks/single-line-input/single-line-input.scss
  includes/block-patterns/class-sensei-block-patterns.php
  includes/block-patterns/lesson/default-with-quiz.php
  includes/block-patterns/lesson/templates/video-lesson.php
  includes/blocks/class-sensei-lesson-blocks.php
  includes/class-sensei-lesson.php
  includes/rest-api/class-sensei-rest-api-extensions-controller.php
Labels: Learning Mode

#5708 Add replace-next-version-tag script
  scripts/includes/chalk-lite.sh
  scripts/includes/proceed_p.sh
  scripts/replace-next-version-tag.sh
Labels: [Type] Maintenance

#5770 Prepare for woorelease
  package.json
  sensei-lms.php
Labels: [Type] Maintenance

#5846 Improve LM theme compatibilty
  assets/blocks/contact-teacher-block/contact-teacher.scss
  assets/course-theme/blocks/lesson-blocks/index.js
  assets/course-theme/blocks/ui/ui-block.variations.js
  assets/course-theme/featured-video-size.js
  assets/css/sensei-course-theme/base.scss
  assets/css/sensei-course-theme/blocks/contact-teacher.scss
  assets/css/sensei-course-theme/blocks/lesson-actions.scss
  assets/css/sensei-course-theme/blocks/lesson-video.scss
  assets/css/sensei-course-theme/editor.scss
  assets/css/sensei-course-theme/mobile.scss
  assets/css/sensei-course-theme/sidebar-mobile-menu.scss
  assets/css/sensei-course-theme/theme-fixes.scss
  assets/css/sensei-course-theme/ui-blocks.scss
  assets/css/sensei-course-theme/video-container.scss
  includes/blocks/class-sensei-block-contact-teacher.php
  includes/course-theme/class-sensei-course-theme-editor.php
  themes/sensei-course-theme/templates/default/lesson.html
Labels: Learning Mode

#5851 Handle logged out users for video lessons
  assets/css/sensei-course-theme/video-container.scss
  includes/blocks/course-theme/class-lesson-video.php
  includes/blocks/course-theme/class-ui.php
Labels: Learning Mode

#5863 Fix content padding on mobile
  assets/css/sensei-course-theme/4-0-2/layout.scss
  assets/css/sensei-course-theme/content.scss
  assets/css/sensei-course-theme/mobile.scss
Labels: Learning Mode

#5854 Add task Create your First Course
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
  includes/admin/home/tasks/task/class-sensei-home-task-configure-learning-mode.php
  includes/admin/home/tasks/task/class-sensei-home-task-create-first-course.php
  tests/unit-tests/admin/home/tasks/test-class-sensei-home-task-create-first-course.php
  tests/unit-tests/admin/home/tasks/test-class-sensei-home-tasks-provider.php
Labels: [Type] Enhancement, Home

#5782 Move blocks title and description to `block.json` and fix localization
  assets/blocks/conditional-content-block/block.json
  assets/blocks/conditional-content-block/index.js
  assets/blocks/core-pattern-polyfill/index.js
  assets/blocks/course-actions-block/course-actions/block.json
  assets/blocks/course-actions-block/course-actions/index.js
  assets/blocks/course-categories-block/block.json
  assets/blocks/course-categories-block/index.js
  assets/blocks/course-list-filter-block/block.json
  assets/blocks/course-list-filter-block/index.js
  assets/blocks/course-outline/lesson-block/block.json
  assets/blocks/course-outline/lesson-block/index.js
  assets/blocks/course-outline/module-block/block.json
  assets/blocks/course-outline/module-block/index.js
  assets/blocks/course-outline/outline-block/block.json
  assets/blocks/course-outline/outline-block/index.js
  assets/blocks/course-progress-block/block.json
  assets/blocks/course-progress-block/index.js
  assets/blocks/course-results-block/block.json
  assets/blocks/course-results-block/index.js
  assets/blocks/learner-courses-block/block.json
  assets/blocks/learner-courses-block/index.js
  assets/blocks/lesson-actions/lesson-actions-block/block.json
  assets/blocks/lesson-actions/lesson-actions-block/index.js
  assets/blocks/lesson-properties/block.json
  assets/blocks/lesson-properties/index.js
  assets/blocks/quiz/category-question-block/block.json
  assets/blocks/quiz/category-question-block/index.js
  assets/blocks/quiz/question-answers-block/block.json
  assets/blocks/quiz/question-answers-block/index.js
  assets/blocks/quiz/question-block/block.json
  assets/blocks/quiz/question-block/index.js
  assets/blocks/quiz/question-description-block/block.json
  assets/blocks/quiz/question-description-block/index.js
  assets/blocks/quiz/quiz-block/block.json
  assets/blocks/quiz/quiz-block/index.js
  assets/blocks/register-sensei-blocks.js
Labels: [Type] Maintenance

#5780 Add last onboarding step and remove/deprecate some code
  assets/extensions/store.js
  assets/home/extension-actions.js
  assets/setup-wizard/data/constants.js
  assets/setup-wizard/data/normalizer.js
  assets/setup-wizard/data/reducer.js
  assets/setup-wizard/features/check-icon.js
  assets/setup-wizard/features/check-icon.test.js
  assets/setup-wizard/features/confirmation-modal.js
  assets/setup-wizard/features/confirmation-modal.test.js
  assets/setup-wizard/features/feature-description.js
  assets/setup-wizard/features/feature-description.test.js
  assets/setup-wizard/features/feature-status.js
  assets/setup-wizard/features/feature-status.test.js
  assets/setup-wizard/features/features-selection.js
  assets/setup-wizard/features/features-selection.test.js
  assets/setup-wizard/features/index.js
  assets/setup-wizard/features/index.test.js
  assets/setup-wizard/features/installation-feedback.js
  assets/setup-wizard/features/installation-feedback.test.js
  assets/setup-wizard/features/style.scss
  assets/setup-wizard/features/use-features-polling.js
  assets/setup-wizard/features/use-features-polling.test.js
  assets/setup-wizard/index.js
  assets/setup-wizard/navigation-bar/index.js
  assets/setup-wizard/navigation-bar/index.test.js
  assets/setup-wizard/navigation-bar/style.scss
  assets/setup-wizard/ready/index.js
  assets/setup-wizard/ready/index.test.js
  assets/setup-wizard/steps.js
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/shared/helpers/woocommerce-com.js
  includes/admin/class-sensei-extensions.php
  includes/admin/class-sensei-setup-wizard.php
  includes/class-sensei-usage-tracking.php
  includes/class-sensei-utils.php
  includes/rest-api/class-sensei-rest-api-extensions-controller.php
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/unit-tests/test-class-sensei-usage-tracking.php
Labels: [Type] Enhancement, Deprecation, New Onboarding Wizard

#5823 Last onboarding step data handling
  assets/setup-wizard/data/actions.js
  assets/setup-wizard/data/actions.test.js
  assets/setup-wizard/data/constants.js
  assets/setup-wizard/data/controls.js
  assets/setup-wizard/data/controls.test.js
  assets/setup-wizard/data/index.js
  assets/setup-wizard/data/normalizer.js
  assets/setup-wizard/data/normalizer.test.js
  assets/setup-wizard/data/reducer.js
  assets/setup-wizard/data/reducer.test.js
  assets/setup-wizard/data/resolvers.js
  assets/setup-wizard/data/resolvers.test.js
  assets/setup-wizard/data/selectors.js
  assets/setup-wizard/data/selectors.test.js
  assets/setup-wizard/data/use-setup-wizard-step.js
  assets/setup-wizard/features/index.js
  assets/setup-wizard/index.js
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/usage-tracking/index.js
  includes/admin/class-sensei-extensions.php
  includes/admin/class-sensei-setup-wizard.php
  includes/class-sensei-utils.php
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard-api.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5824 Add onboarding features installation
  assets/setup-wizard/animations.scss
  assets/setup-wizard/features/index.js
  assets/setup-wizard/features/style.scss
  assets/setup-wizard/features/use-actions-navigator.js
  assets/setup-wizard/features/use-actions-navigator.test.js
  assets/setup-wizard/style.scss
  includes/admin/class-sensei-extensions.php
  includes/admin/class-sensei-setup-wizard.php
  includes/rest-api/class-sensei-rest-api-extensions-controller.php
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard-api.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5847 Change onboarding design
  assets/images/onboarding-bottom-left-illustration.png
  assets/images/onboarding-improve-experience-illustration-small.png
  assets/images/onboarding-improve-experience-illustration.png
  assets/images/onboarding-newsletter-illustration.png
  assets/images/onboarding-purpose-illustration.png
  assets/images/onboarding-top-right-illustration.png
  assets/setup-wizard/animations.scss
  assets/setup-wizard/features/index.js
  assets/setup-wizard/features/style.scss
  assets/setup-wizard/newsletter/index.js
  assets/setup-wizard/newsletter/signup-form.js
  assets/setup-wizard/newsletter/style.scss
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/purpose/style.scss
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/setup-wizard/usage-tracking/style.scss
  assets/setup-wizard/welcome/index.js
  assets/setup-wizard/welcome/style.scss
  includes/admin/class-sensei-setup-wizard.php
  tests/e2e-playwright/specs/admin/students/setup-wizard.spec.js
Labels: [Type] Enhancement, New Onboarding Wizard

#5881 Update skip onboarding link to go to the Sensei Home
  assets/setup-wizard/constants.js
  assets/setup-wizard/features/index.js
  assets/setup-wizard/welcome/index.js
Labels: [Type] Enhancement, New Onboarding Wizard

#5820 Fetch data from SenseiLMS.com for Sensei Home
  includes/admin/home/class-sensei-home-guides-provider.php
  includes/admin/home/class-sensei-home-news-provider.php
  includes/admin/home/class-sensei-home-remote-data-api.php
  includes/class-sensei-autoloader.php
  includes/class-sensei-data-cleaner.php
  includes/rest-api/class-sensei-rest-api-home-controller.php
  includes/rest-api/class-sensei-rest-api-internal.php
  tests/unit-tests/admin/home/test-class-sensei-home-guides-provider.php
  tests/unit-tests/admin/home/test-class-sensei-home-news-provider.php
  tests/unit-tests/admin/home/test-class-sensei-home-remote-data-api.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-home-controller.php
Labels: [Type] Enhancement

#5867 Add installation error handler in the onboarding
  assets/setup-wizard/animations.scss
  assets/setup-wizard/data/use-setup-wizard-step.js
  assets/setup-wizard/features/index.js
  assets/setup-wizard/features/use-actions-navigator.js
  assets/setup-wizard/newsletter/signup-form.js
  assets/setup-wizard/style.scss
Labels: [Type] Enhancement, New Onboarding Wizard

#5799 Add filter to add content on the top of the Sensei Home
  assets/home/main.js
Labels: [Type] Enhancement, Home

#5885 Add home task list
  assets/css/font-recoleta.scss
  assets/home/home.scss
  assets/home/main.js
  assets/home/section.js
  assets/home/sections/task-list.js
  assets/home/tasks/first-course.js
  assets/home/tasks/first-course.scss
  assets/home/tasks/first-course.test.js
  assets/home/tasks/index.js
  assets/home/tasks/progress.js
  assets/home/tasks/progress.scss
  assets/home/tasks/progress.test.js
  assets/home/tasks/ready.js
  assets/home/tasks/ready.scss
  assets/home/tasks/style.scss
  assets/home/tasks/task-item.js
  assets/home/tasks/task-item.test.js
  assets/home/tasks/tasks.js
  assets/home/tasks/tasks.scss
  assets/icons/facebook-circle.svg
  assets/icons/instagram-circle.svg
  assets/icons/twitter-circle.svg
  assets/images/home-bottom-right-illustration.png
  assets/images/home-course-featured-image.png
  assets/images/home-top-left-illustration.png
  assets/setup-wizard/style.scss
Labels: [Type] Enhancement, Home

#5592 Disable Codecov annotations
  .codecov.yml
Labels: [Type] Maintenance

#5919 Update data layer stage 2 PR with recent changes from stage 1
  includes/student-progress/course-progress/models/class-course-progress.php
  includes/student-progress/course-progress/repositories/class-comments-based-course-progress-repository.php
  tests/unit-tests/student-progress/course-progress/models/test-class-comments-based-course-progress.php
Labels: [Type] Maintenance

#5926 LM - Video Template - Fix 0 height for video container in FSE.
  assets/css/sensei-course-theme/video-container.scss
Labels: Learning Mode

#5888 Add "Publish your first course" task
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
  includes/admin/home/tasks/task/class-sensei-home-task-publish-first-course.php
  tests/unit-tests/admin/home/tasks/task/test-class-sensei-home-task-create-first-course.php
  tests/unit-tests/admin/home/tasks/task/test-class-sensei-home-task-publish-first-course.php
  tests/unit-tests/admin/home/tasks/test-class-sensei-home-tasks-provider.php
Labels: [Type] Enhancement, Home

#5932 Remove image attribute from the object returned by map_task
  includes/admin/home/tasks/class-sensei-home-task.php
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
  includes/admin/home/tasks/task/class-sensei-home-task-configure-learning-mode.php
  includes/admin/home/tasks/task/class-sensei-home-task-create-first-course.php
  includes/admin/home/tasks/task/class-sensei-home-task-publish-first-course.php
  includes/admin/home/tasks/task/class-sensei-home-task-setup-site.php
  tests/unit-tests/admin/home/tasks/task/test-class-sensei-home-task-create-first-course.php
  tests/unit-tests/admin/home/tasks/task/test-class-sensei-home-task-publish-first-course.php
  tests/unit-tests/admin/home/tasks/test-class-sensei-home-tasks-provider.php
Labels: [Type] Enhancement, Home

#5936 Add course and site metadata for the tasks attribute on sensei home endpoint
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
  tests/unit-tests/admin/home/tasks/test-class-sensei-home-tasks-provider.php
Labels: [Type] Enhancement, Home

#5902 Add tasks data
  assets/home/home.scss
  assets/home/main.js
  assets/home/tasks-section/first-course.js
  assets/home/tasks-section/first-course.scss
  assets/home/tasks-section/first-course.test.js
  assets/home/tasks-section/index.js
  assets/home/tasks-section/index.test.js
  assets/home/tasks-section/progress.js
  assets/home/tasks-section/progress.scss
  assets/home/tasks-section/progress.test.js
  assets/home/tasks-section/ready.js
  assets/home/tasks-section/ready.scss
  assets/home/tasks-section/style.scss
  assets/home/tasks-section/task-item.js
  assets/home/tasks-section/task-item.test.js
  assets/home/tasks-section/tasks.js
  assets/home/tasks-section/tasks.scss
  assets/home/tasks-section/tasks.test.js
  assets/home/tasks/index.js
Labels: [Type] Enhancement, Home

#5793 Remove the default last activity date from reports
  includes/reports/helper/class-sensei-reports-helper-date-range-trait.php
  tests/unit-tests/test-class-sensei-analysis-course-list-table.php
Labels: [Type] Enhancement

#5948 Ignore courses on trash and adjust cache expiration on task "Create your First Course"
  includes/admin/home/tasks/task/class-sensei-home-task-create-first-course.php
  tests/unit-tests/admin/home/tasks/task/test-class-sensei-home-task-create-first-course.php
Labels: [Type] Enhancement, Home

#5933 Add tasks completion
  assets/home/grid.js
  assets/home/home.scss
  assets/home/main.js
  assets/home/tasks-section/index.js
  assets/home/tasks-section/index.test.js
  assets/home/tasks-section/ready.js
  assets/home/tasks-section/ready.scss
  assets/home/tasks-section/ready.test.js
  assets/home/tasks-section/style.scss
  includes/admin/class-sensei-home.php
  includes/class-sensei-data-cleaner.php
Labels: [Type] Enhancement, Home

#5960 Add "sell your course with woocommerce" placeholder
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
  includes/admin/home/tasks/task/class-sensei-home-task-sell-course-with-woocommerce.php
  includes/class-sensei-admin.php
  includes/class-sensei-data-cleaner.php
Labels: [Type] Enhancement, Home

#5946 Add course and share dynamic data
  assets/home/tasks-section/first-course.js
  assets/home/tasks-section/first-course.test.js
  assets/home/tasks-section/index.js
  assets/home/tasks-section/ready.js
  assets/home/tasks-section/ready.test.js
  assets/icons/instagram-circle.svg
  assets/icons/tumblr-circle.svg
Labels: [Type] Enhancement, Home

#5986 Style fixes in Sensei Home
  assets/home/header.js
  assets/home/home.scss
  assets/home/sections/extensions.scss
  assets/icons/sensei-logo-type.svg
Labels: [Type] Enhancement, Home

#5631 Refactor the student progress and quiz submission to use new APIs
  includes/blocks/class-sensei-course-results-block.php
  includes/class-sensei-autoloader.php
  includes/class-sensei-frontend.php
  includes/class-sensei-grading.php
  includes/class-sensei-lesson.php
  includes/class-sensei-quiz.php
  includes/class-sensei-utils.php
  includes/class-sensei.php
  includes/internal/quiz-submission/answer/models/class-answer.php
  includes/internal/quiz-submission/answer/repositories/class-answer-repository-factory.php
  includes/internal/quiz-submission/answer/repositories/class-answer-repository-interface.php
  includes/internal/quiz-submission/answer/repositories/class-comments-based-answer-repository.php
  includes/internal/quiz-submission/grade/models/class-grade.php
  includes/internal/quiz-submission/grade/repositories/class-comments-based-grade-repository.php
  includes/internal/quiz-submission/grade/repositories/class-grade-repository-factory.php
  includes/internal/quiz-submission/grade/repositories/class-grade-repository-interface.php
  includes/internal/quiz-submission/submission/models/class-submission.php
  includes/internal/quiz-submission/submission/repositories/class-comments-based-submission-repository.php
  includes/internal/quiz-submission/submission/repositories/class-submission-repository-factory.php
  includes/internal/quiz-submission/submission/repositories/class-submission-repository-interface.php
  includes/internal/student-progress/course-progress/models/class-course-progress.php
  includes/internal/student-progress/course-progress/repositories/class-comments-based-course-progress-repository.php
  includes/internal/student-progress/course-progress/repositories/class-course-progress-repository-factory.php
  includes/internal/student-progress/course-progress/repositories/class-course-progress-repository-interface.php
  includes/internal/student-progress/lesson-progress/models/class-lesson-progress.php
  includes/internal/student-progress/lesson-progress/repositories/class-comments-based-lesson-progress-repository.php
  includes/internal/student-progress/lesson-progress/repositories/class-lesson-progress-repository-factory.php
  includes/internal/student-progress/lesson-progress/repositories/class-lesson-progress-repository-interface.php
  includes/internal/student-progress/quiz-progress/models/class-quiz-progress.php
  includes/internal/student-progress/quiz-progress/repositories/class-comments-based-quiz-progress-repository.php
  includes/internal/student-progress/quiz-progress/repositories/class-quiz-progress-repository-factory.php
  includes/internal/student-progress/quiz-progress/repositories/class-quiz-progress-repository-interface.php
  tests/unit-tests/internal/quiz-submission/answer/models/test-class-answer.php
  tests/unit-tests/internal/quiz-submission/answer/repositories/test-class-answer-repository-factory.php
  tests/unit-tests/internal/quiz-submission/answer/repositories/test-class-comments-based-answer-repository.php
  tests/unit-tests/internal/quiz-submission/grade/models/test-class-grade.php
  tests/unit-tests/internal/quiz-submission/grade/repositories/test-class-comments-based-grade-repository.php
  tests/unit-tests/internal/quiz-submission/grade/repositories/test-class-grade-repository-factory.php
  tests/unit-tests/internal/quiz-submission/submission/models/test-class-submission.php
  tests/unit-tests/internal/quiz-submission/submission/repositories/test-class-comments-based-submission-repository.php
  tests/unit-tests/internal/quiz-submission/submission/repositories/test-class-submission-repository-factory.php
  tests/unit-tests/internal/student-progress/course-progress/models/test-class-course-progress.php
  tests/unit-tests/internal/student-progress/course-progress/repositories/test-class-comments-based-course-progress-repository.php
  tests/unit-tests/internal/student-progress/course-progress/repositories/test-class-course-progress-repository-factory.php
  tests/unit-tests/internal/student-progress/lesson-progress/models/test-class-lesson-progress.php
  tests/unit-tests/internal/student-progress/lesson-progress/repositories/test-class-comments-based-lesson-progress-repository.php
  tests/unit-tests/internal/student-progress/lesson-progress/repositories/test-class-lesson-progress-repository-factory.php
  tests/unit-tests/internal/student-progress/quiz-progress/models/test-class-quiz-progress.php
  tests/unit-tests/internal/student-progress/quiz-progress/repositories/test-class-comments-based-quiz-progress-repository.php
  tests/unit-tests/internal/student-progress/quiz-progress/repositories/test-class-quiz-progress-repository-factory.php
  tests/unit-tests/test-class-lesson.php
  tests/unit-tests/test-class-quiz.php
  tests/unit-tests/test-class-utils.php
Labels: Progress Storage

#5962 Change sensei admin menu to have Home as the default menu
  assets/admin/students/student-action-menu/index.js
  assets/admin/students/student-action-menu/index.test.js
  assets/css/global.scss
  assets/js/admin/event-logging.js
  includes/admin/class-sensei-admin-notices.php
  includes/admin/class-sensei-home.php
  includes/admin/class-sensei-learner-management.php
  includes/admin/class-sensei-learners-admin-bulk-actions-controller.php
  includes/admin/class-sensei-learners-admin-bulk-actions-view.php
  includes/admin/class-sensei-learners-main.php
  includes/admin/class-sensei-setup-wizard.php
  includes/admin/class-sensei-tools.php
  includes/admin/home/quick-links/class-sensei-home-quick-links-provider.php
  includes/admin/home/tasks/task/class-sensei-home-task-configure-learning-mode.php
  includes/class-sensei-admin.php
  includes/class-sensei-analysis-course-list-table.php
  includes/class-sensei-analysis-lesson-list-table.php
  includes/class-sensei-analysis-overview-list-table.php
  includes/class-sensei-analysis-user-profile-list-table.php
  includes/class-sensei-analysis.php
  includes/class-sensei-course.php
  includes/class-sensei-grading-main.php
  includes/class-sensei-grading.php
  includes/class-sensei-groups-landing-page.php
  includes/class-sensei-learner.php
  includes/class-sensei-lesson.php
  includes/class-sensei-messages.php
  includes/class-sensei-modules.php
  includes/class-sensei-posttypes.php
  includes/class-sensei-question.php
  includes/class-sensei-settings.php
  includes/class-sensei-teacher.php
  includes/enrolment/class-sensei-course-enrolment-manager.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-abstract.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-courses.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-lessons.php
  includes/reports/overview/list-table/class-sensei-reports-overview-list-table-students.php
  tests/e2e-playwright/pages/admin/students/students.js
  tests/unit-tests/admin/test-class-sensei-setup-wizard.php
  tests/unit-tests/reports/overview/list-table/test-class-sensei-reports-overview-list-table-abstract.php
  tests/unit-tests/test-class-grading.php
  tests/unit-tests/test-class-lesson.php
  tests/unit-tests/test-class-sensei-analysis-course-list-table.php
  tests/unit-tests/test-class-sensei-analysis.php
Labels: [Type] Enhancement, Home

#5966 Add the delete method to student progress repositories
  includes/class-sensei-utils.php
  includes/internal/student-progress/course-progress/repositories/class-comments-based-course-progress-repository.php
  includes/internal/student-progress/course-progress/repositories/class-course-progress-repository-interface.php
  includes/internal/student-progress/lesson-progress/repositories/class-comments-based-lesson-progress-repository.php
  includes/internal/student-progress/lesson-progress/repositories/class-lesson-progress-repository-interface.php
  includes/internal/student-progress/quiz-progress/repositories/class-comments-based-quiz-progress-repository.php
  includes/internal/student-progress/quiz-progress/repositories/class-quiz-progress-repository-interface.php
  tests/unit-tests/internal/student-progress/course-progress/repositories/test-class-comments-based-course-progress-repository.php
  tests/unit-tests/internal/student-progress/lesson-progress/repositories/test-class-comments-based-lesson-progress-repository.php
  tests/unit-tests/internal/student-progress/quiz-progress/repositories/test-class-comments-based-quiz-progress-repository.php
Labels: [Type] Maintenance

#5992 Remove menu translation
  includes/class-sensei-admin.php
Labels: [Type] Bug, Home

#5987 Adapt Sensei Pro Ad on Sensei Home
  assets/home/home.scss
  assets/home/main.js
  assets/home/sections/extensions.scss
  assets/home/sections/sensei-pro-ad.js
  assets/home/sections/sensei-pro-ad.scss
  assets/home/variables.scss
  assets/images/sensei-pro-ad-cta.svg
  assets/images/sensei-pro-ad-image.png
  includes/class-sensei-admin.php
Labels: [Type] Enhancement, Home

#5994 Fix setup wizard redirect when it's completed
  assets/setup-wizard/constants.js
Labels: [Type] Bug, Home, New Onboarding Wizard

#5857 Add installer and student progress schema
  includes/class-sensei-autoloader.php
  includes/class-sensei.php
  includes/internal/installer/class-installer.php
  includes/internal/installer/class-schema.php
  includes/internal/installer/class-updates-factory.php
  sensei-lms.php
  tests/unit-tests/internal/installer/test-class-installer.php
  tests/unit-tests/internal/installer/test-class-schema.php
  tests/unit-tests/internal/installer/test-class-updates-factory.php
  tests/unit-tests/test-class-sensei.php
Labels: Hooks, [Type] Maintenance, Deprecation

#6003 Fix some Home styles
  assets/home/notices.scss
  assets/home/sections/sensei-pro-ad.scss
Labels: [Type] Bug, Home

#6017 Fix PHP notice on Sensei Home Notices Provider
  includes/admin/home/notices/class-sensei-home-notices-provider.php
Labels: [Type] Bug, Home

#6020 Fix status after installation
  includes/rest-api/class-sensei-rest-api-extensions-controller.php
Labels: [Type] Bug, Home

#6031 Change progress bar animation
  assets/setup-wizard/features/style.scss
Labels: [Type] Enhancement, New Onboarding Wizard

#6040 Add back some packages from package-lock.json
  package-lock.json
Labels: [Type] Maintenance
