Repository Automattic/sensei, pull requests merged in 2022-09, with the labels that each got.

#5476 Learning Mode - Add a prerequisite notice to the quiz page.
  includes/class-sensei-utils.php
  includes/course-theme/class-sensei-course-theme-lesson.php
Labels: Learning Mode

#5465 Actions: add a new workflow to help triaging issues
  .github/workflows/gardening.yml
Labels: [Pri] Normal, [Type] Proposal

#5567 Add course list filter block
  .github/workflows/gardening.yml
  assets/blocks/course-list-filter-block/block.json
  assets/blocks/course-list-filter-block/course-list-filter-edit.js
  assets/blocks/course-list-filter-block/course-list-filter-edit.scss
  assets/blocks/course-list-filter-block/course-list-filter-edit.test.js
  assets/blocks/course-list-filter-block/course-list-filter.js
  assets/blocks/course-list-filter-block/index.js
  assets/blocks/global-blocks-style-editor.scss
  assets/blocks/global-blocks.js
  assets/js/frontend/course-video/video-blocks-manager.js
  assets/js/frontend/course-video/video-extension.js
  assets/js/frontend/course-video/videopress-extension.js
  assets/js/frontend/course-video/vimeo-extension.js
  assets/js/frontend/course-video/youtube-extension.js
  assets/shared/helpers/player/index.js
  assets/shared/helpers/player/video-file-adapter.js
  assets/shared/helpers/player/videopress-adapter.js
  assets/shared/helpers/player/vimeo-adapter.js
  assets/shared/helpers/player/youtube-adapter.js
  changelog.txt
  includes/blocks/class-sensei-course-list-categories-filter.php
  includes/blocks/class-sensei-course-list-filter-block.php
  includes/blocks/class-sensei-global-blocks.php
  includes/class-sensei-lesson.php
  includes/class-sensei-utils.php
  includes/class-sensei.php
  includes/course-theme/class-sensei-course-theme-lesson.php
  includes/course-video/blocks/class-sensei-course-video-blocks-embed-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-video-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-videopress-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-vimeo-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-youtube-extension.php
  includes/course-video/class-sensei-course-video-settings.php
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
  tests/unit-tests/blocks/test-class-sensei-course-list-filter-block.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-video-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-videopress-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-vimeo-extension.php
  tests/unit-tests/course-video/blocks/test-class-sensei-course-video-blocks-youtube-extension.php
  tests/unit-tests/course-video/test-class-sensei-course-video-settings.php
  webpack.config.js
Labels: Course List Block

#5575 Add filter by feature option to course list filter
  assets/blocks/course-list-filter-block/course-list-filter-edit.js
  assets/blocks/course-list-filter-block/course-list-filter-edit.test.js
  assets/blocks/course-list-filter-block/course-list-filter.js
  includes/blocks/class-sensei-course-list-featured-filter.php
  includes/blocks/class-sensei-course-list-filter-block.php
  tests/unit-tests/blocks/test-class-sensei-course-list-filter-block.php
Labels: Course List Block

#5577 Fix jetpack video initialization in the editor
  assets/shared/helpers/player/use-editor-player.js
Labels: [Type] Bug, Interactive Video Block

#5568 Fix fatal error when printing notices on redirect
  includes/class-sensei-notices.php
  includes/hooks/template.php
Labels: [Type] Bug

#5574 Add/lm template settings api
  assets/css/settings.scss
  includes/class-sensei-settings.php
  includes/course-theme/class-sensei-course-theme-compat.php
  includes/course-theme/class-sensei-course-theme-editor.php
  includes/course-theme/class-sensei-course-theme-template-selection.php
  includes/course-theme/class-sensei-course-theme-template.php
  includes/course-theme/class-sensei-course-theme-templates.php
  includes/course-theme/class-sensei-course-theme.php
  themes/sensei-course-theme/templates/default/img-full.jpg
  themes/sensei-course-theme/templates/default/img-thumb.jpg
  themes/sensei-course-theme/templates/default/lesson.html
  themes/sensei-course-theme/templates/lesson.html
  themes/sensei-course-theme/templates/modern/img-full.jpg
  themes/sensei-course-theme/templates/modern/img-thumb.jpg
  themes/sensei-course-theme/templates/video-full/img-full.jpg
  themes/sensei-course-theme/templates/video-full/img-thumb.jpg
  themes/sensei-course-theme/templates/video/img-full.jpg
  themes/sensei-course-theme/templates/video/img-thumb.jpg
Labels: Learning Mode

#5593 Remove "Beta" label from Course List block
  assets/blocks/course-list-block/index.js
  tests/e2e-playwright/pages/admin/post-type/index.js
  tests/e2e-playwright/specs/admin/blocks/course-list-block.spec.js
Labels: Course List Block

#5595 Add course list icon
  assets/blocks/course-list-block/index.js
  assets/icons/course-list.svg
Labels: Course List Block

#5578 Make course list filter single block and implement student course filter
  assets/blocks/course-list-block/course-list.scss
  assets/blocks/course-list-filter-block/block.json
  assets/blocks/course-list-filter-block/course-list-filter-edit.js
  assets/blocks/course-list-filter-block/course-list-filter-edit.scss
  assets/blocks/course-list-filter-block/course-list-filter-edit.test.js
  assets/blocks/course-list-filter-block/course-list-filter-editor.scss
  assets/blocks/course-list-filter-block/course-list-filter.js
  assets/blocks/course-list-filter-block/course-list-filter.scss
  assets/blocks/course-list-filter-block/index.js
  assets/blocks/global-blocks-style-editor.scss
  assets/blocks/global-blocks-style.scss
  assets/icons/course-list-filter.svg
  includes/blocks/course-list/class-sensei-course-list-categories-filter.php
  includes/blocks/course-list/class-sensei-course-list-featured-filter.php
  includes/blocks/course-list/class-sensei-course-list-filter-abstract.php
  includes/blocks/course-list/class-sensei-course-list-filter-block.php
  includes/blocks/course-list/class-sensei-course-list-student-course-filter.php
  includes/class-sensei-autoloader.php
  tests/unit-tests/blocks/test-class-sensei-course-list-filter-block.php
Labels: Course List Block

#5617 Fix issues for when course list filter is added to non course list blocks
  assets/blocks/course-list-filter-block/course-list-filter-edit.js
  assets/blocks/course-list-filter-block/course-list-filter-edit.test.js
  assets/blocks/course-list-filter-block/course-list-filter-editor.scss
  includes/blocks/course-list/class-sensei-course-list-filter-block.php
Labels: Course List Block

#5612 Add course list filter block to patterns
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
  tests/e2e-playwright/specs/admin/blocks/course-list-block.spec.js
Labels: Course List Block

#5428 Student progress API
  includes/class-sensei-autoloader.php
  includes/class-sensei-frontend.php
  includes/class-sensei-grading.php
  includes/class-sensei-quiz.php
  includes/class-sensei-utils.php
  includes/class-sensei.php
  includes/student-progress/course-progress/models/class-course-progress.php
  includes/student-progress/course-progress/repositories/class-comments-based-course-progress-repository.php
  includes/student-progress/course-progress/repositories/class-course-progress-repository-factory.php
  includes/student-progress/course-progress/repositories/class-course-progress-repository-interface.php
  includes/student-progress/lesson-progress/models/class-lesson-progress.php
  includes/student-progress/lesson-progress/repositories/class-comments-based-lesson-progress-repository.php
  includes/student-progress/lesson-progress/repositories/class-lesson-progress-repository-factory.php
  includes/student-progress/lesson-progress/repositories/class-lesson-progress-repository-interface.php
  includes/student-progress/quiz-progress/models/class-quiz-progress.php
  includes/student-progress/quiz-progress/repositories/class-comments-based-quiz-progress-repository.php
  includes/student-progress/quiz-progress/repositories/class-quiz-progress-repository-factory.php
  includes/student-progress/quiz-progress/repositories/class-quiz-progress-repository-interface.php
  tests/unit-tests/student-progress/course-progress/models/test-class-comments-based-course-progress.php
  tests/unit-tests/student-progress/course-progress/repositories/test-class-comments-based-course-progress-repository.php
  tests/unit-tests/student-progress/course-progress/repositories/test-class-course-progress-repository-factory.php
  tests/unit-tests/student-progress/lesson-progress/models/test-class-comments-based-lesson-progress.php
  tests/unit-tests/student-progress/lesson-progress/repositories/test-class-comments-based-lesson-progress-repository.php
  tests/unit-tests/student-progress/lesson-progress/repositories/test-class-lesson-progress-repository-factory.php
  tests/unit-tests/student-progress/quiz-progress/models/test-class-quiz-progress.php
  tests/unit-tests/student-progress/quiz-progress/repositories/test-class-comments-based-quiz-progress-repository.php
  tests/unit-tests/student-progress/quiz-progress/repositories/test-class-quiz-progress-repository-factory.php
Labels: [Type] Maintenance

#5635 Remove featured label hook for course categories for older wp version
  includes/blocks/class-sensei-page-blocks.php
Labels: Course List Block

#5598 Feature course list
  .github/workflows/e2e-playwright.yml
  .github/workflows/e2e.yml
  assets/blocks/course-categories-block/block.json
  assets/blocks/course-categories-block/course-categories-edit.js
  assets/blocks/course-categories-block/course-categories-edit.test.js
  assets/blocks/course-categories-block/course-categories.scss
  assets/blocks/course-categories-block/index.js
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/course-list-block/course-list.scss
  assets/blocks/course-list-block/featured-label/index.js
  assets/blocks/course-list-block/hooks.js
  assets/blocks/course-list-block/index.js
  assets/blocks/course-list-filter-block/block.json
  assets/blocks/course-list-filter-block/course-list-filter-edit.js
  assets/blocks/course-list-filter-block/course-list-filter-edit.test.js
  assets/blocks/course-list-filter-block/course-list-filter-editor.scss
  assets/blocks/course-list-filter-block/course-list-filter.js
  assets/blocks/course-list-filter-block/course-list-filter.scss
  assets/blocks/course-list-filter-block/index.js
  assets/blocks/global-blocks-style-editor.scss
  assets/blocks/global-blocks-style.scss
  assets/blocks/global-blocks.js
  assets/blocks/single-page.js
  assets/icons/course-list-filter.svg
  assets/icons/course-list.svg
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
  includes/blocks/class-sensei-block-take-course.php
  includes/blocks/class-sensei-block-view-results.php
  includes/blocks/class-sensei-continue-course-block.php
  includes/blocks/class-sensei-course-categories-block.php
  includes/blocks/class-sensei-global-blocks.php
  includes/blocks/class-sensei-page-blocks.php
  includes/blocks/course-list/class-sensei-course-list-categories-filter.php
  includes/blocks/course-list/class-sensei-course-list-featured-filter.php
  includes/blocks/course-list/class-sensei-course-list-filter-abstract.php
  includes/blocks/course-list/class-sensei-course-list-filter-block.php
  includes/blocks/course-list/class-sensei-course-list-student-course-filter.php
  includes/class-sensei-autoloader.php
  includes/rest-api/class-sensei-rest-api-lessons-controller.php
  package-lock.json
  package.json
  playwright.config.js
  tests/e2e-playwright/.eslintrc.js
  tests/e2e-playwright/.prettierrc.js
  tests/e2e-playwright/helpers/api.js
  tests/e2e-playwright/pages/admin/post-type/blocks/query-loop.js
  tests/e2e-playwright/pages/admin/post-type/index.js
  tests/e2e-playwright/specs/admin/blocks/course-list-block.spec.js
  tests/e2e-playwright/specs/admin/students/setup-wizard.spec.js
  tests/e2e-playwright/specs/admin/students/students-management.spec.js
  tests/e2e-playwright/specs/test-3.spec.ts
  tests/unit-tests/blocks/test-class-sensei-course-categories-block.php
  tests/unit-tests/blocks/test-class-sensei-course-list-filter-block.php
  webpack.config.js
Labels: Course List Block

#5582 Add tests to Sensei Global Block
  tests/unit-tests/blocks/test-class-sensei-global-blocks.php
Labels: [Type] Maintenance

#5660 Skip the featured label rendering when it is outside of a query loop
  assets/blocks/course-categories-block/block.json
  assets/blocks/course-list-block/featured-label/index.test.js
  assets/blocks/course-list-block/index.js
  assets/blocks/course-list-block/index.test.js
Labels: [Type] Bug

#5710 Fix spacings, alignments and sizes for course list patterns
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/course-list-block/course-list.scss
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
Labels: Course List Block

#5718 Add check to load feature label only for newer wp versions
  includes/blocks/class-sensei-page-blocks.php
Labels: Course List Block

#5670 Fix aligning issues for course list filters, align left by default
  assets/blocks/course-list-block/course-list-block-editor.scss
  assets/blocks/course-list-block/course-list.scss
  assets/blocks/course-list-filter-block/block.json
  assets/blocks/course-list-filter-block/course-list-filter-editor.scss
  assets/blocks/course-list-filter-block/course-list-filter.scss
  includes/block-patterns/course-list/class-sensei-course-list-block-patterns.php
Labels: Course List Block

#5662 Learning Mode - Support multiple custom block templates for a single post type.
  includes/course-theme/class-sensei-course-theme-template-selection.php
  includes/course-theme/class-sensei-course-theme-templates.php
  includes/course-theme/class-sensei-course-theme.php
Labels: Learning Mode

#5695 Add/embed css into lm templates
  assets/course-theme/blocks/index.js
  assets/course-theme/blocks/template-style/index.js
  assets/course-theme/blocks/template-style/template-style-block.js
  assets/course-theme/blocks/template-style/template-style.block.json
  includes/blocks/course-theme/class-course-theme-blocks.php
  includes/blocks/course-theme/class-template-style.php
  includes/class-sensei-autoloader.php
  includes/course-theme/class-sensei-course-theme-editor.php
  includes/course-theme/class-sensei-course-theme-templates.php
Labels: Learning Mode

#5694 Add new onboarding structure
  assets/admin/editor-wizard/style.scss
  assets/css/font-recoleta.scss
  assets/css/fonts/recoleta-regular.woff
  assets/css/fonts/recoleta-regular.woff2
  assets/icons/logo-tree.svg
  assets/images/onboarding-bottom-left-illustration.png
  assets/images/onboarding-top-right-illustration.png
  assets/setup-wizard/data/actions.js
  assets/setup-wizard/data/constants.js
  assets/setup-wizard/data/controls.js
  assets/setup-wizard/data/index.js
  assets/setup-wizard/data/reducer.js
  assets/setup-wizard/data/reducer.test.js
  assets/setup-wizard/data/selectors.js
  assets/setup-wizard/data/selectors.test.js
  assets/setup-wizard/data/use-setup-wizard-step.js
  assets/setup-wizard/features/confirmation-modal.js
  assets/setup-wizard/features/confirmation-modal.test.js
  assets/setup-wizard/features/feature-description-utils.js
  assets/setup-wizard/features/feature-description-utils.test.js
  assets/setup-wizard/features/index.test.js
  assets/setup-wizard/features/installation-feedback.js
  assets/setup-wizard/features/installation-feedback.test.js
  assets/setup-wizard/fullscreen.scss
  assets/setup-wizard/index.js
  assets/setup-wizard/navigation/index.js
  assets/setup-wizard/progress-bar/index.js
  assets/setup-wizard/progress-bar/index.test.js
  assets/setup-wizard/progress-bar/style.scss
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/ready/index.js
  assets/setup-wizard/ready/index.test.js
  assets/setup-wizard/ready/mailinglist-signup-form.js
  assets/setup-wizard/ready/use-sample-course-installer.js
  assets/setup-wizard/steps.js
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/setup-wizard/welcome/index.js
  assets/setup-wizard/welcome/style.scss
  assets/setup-wizard/welcome/usage-modal.js
  assets/shared/components/list/index.js
  assets/shared/components/list/list-item.js
  assets/shared/components/list/style.scss
  assets/shared/components/stepper/check-icon.js
  assets/shared/components/stepper/index.js
  assets/shared/components/stepper/style.scss
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/e2e-playwright/pages/admin/plugins/plugins.js
  tests/e2e-playwright/specs/admin/students/setup-wizard.spec.js
  tests/unit-tests/admin/test-class-sensei-setup-wizard-api.php
Labels: [Type] Enhancement, Hooks, New Onboarding Wizard

#5703 Add usage tracking step styles
  assets/images/onboarding-improve-experience-illustration.png
  assets/setup-wizard/animations.scss
  assets/setup-wizard/index.js
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/setup-wizard/usage-tracking/style.scss
Labels: [Type] Enhancement, New Onboarding Wizard

#5716 Add newsletter step
  assets/images/onboarding-newsletter-illustration.png
  assets/setup-wizard/newsletter/index.js
  assets/setup-wizard/newsletter/signup-form.js
  assets/setup-wizard/newsletter/signup-form.test.js
  assets/setup-wizard/newsletter/style.scss
  assets/setup-wizard/ready/index.js
  assets/setup-wizard/ready/index.test.js
  assets/setup-wizard/ready/mailinglist-signup-form.js
  assets/setup-wizard/steps.js
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/setup-wizard/usage-tracking/style.scss
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5736 Remove unneeded mark step complete
  includes/admin/class-sensei-setup-wizard.php
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/unit-tests/admin/test-class-sensei-setup-wizard.php
Labels: [Type] Maintenance, New Onboarding Wizard

#5733 Add new purpose step
  assets/images/onboarding-purpose-illustration.png
  assets/setup-wizard/newsletter/signup-form.js
  assets/setup-wizard/newsletter/style.scss
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/purpose/purpose-item.js
  assets/setup-wizard/purpose/purpose-item.test.js
  assets/setup-wizard/purpose/style.scss
  assets/setup-wizard/style.scss
  includes/admin/class-sensei-setup-wizard.php
  includes/rest-api/class-sensei-rest-api-setup-wizard-controller.php
  tests/e2e-playwright/pages/admin/plugins/plugins.js
  tests/unit-tests/admin/test-class-sensei-setup-wizard-api.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5754 Onboarding design tweaks
  assets/images/onboarding-improve-experience-illustration-small.png
  assets/images/onboarding-improve-experience-illustration.png
  assets/images/onboarding-newsletter-illustration.png
  assets/images/onboarding-purpose-illustration.png
  assets/setup-wizard/newsletter/index.js
  assets/setup-wizard/newsletter/style.scss
  assets/setup-wizard/progress-bar/style.scss
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/purpose/style.scss
  assets/setup-wizard/style.scss
  assets/setup-wizard/usage-tracking/index.js
  assets/setup-wizard/usage-tracking/style.scss
  assets/setup-wizard/welcome/index.js
  assets/setup-wizard/welcome/style.scss
  includes/admin/class-sensei-setup-wizard.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5767 Release 4.6.4
  changelog.txt
  includes/blocks/class-sensei-page-blocks.php
  includes/blocks/course-list/class-sensei-course-list-filter-abstract.php
  includes/class-sensei-wp-kses.php
  includes/course-video/blocks/class-sensei-course-video-blocks-embed-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-video-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-videopress-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-vimeo-extension.php
  includes/course-video/blocks/class-sensei-course-video-blocks-youtube-extension.php
  includes/reports/class-sensei-no-users-table-relationship.php
  includes/reports/overview/data-provider/class-sensei-reports-overview-data-provider-students.php
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
Labels: Course List Block

#5762 Update newsletter signup to work without a new window to avoid breaking the onboarding flow
  assets/setup-wizard/newsletter/signup-form.js
  assets/setup-wizard/style.scss
  includes/admin/class-sensei-setup-wizard.php
Labels: [Type] Enhancement, New Onboarding Wizard

#5727 Add Sensei Home Structure
  assets/css/home.scss
  assets/extensions/all-extensions.js
  assets/extensions/featured-product-sensei-pro.js
  assets/extensions/featured-product.js
  assets/extensions/filtered-extensions.js
  assets/extensions/main.js
  assets/extensions/store.js
  assets/extensions/tabs.js
  assets/home/card.js
  assets/home/extension-actions.js
  assets/home/grid.js
  assets/home/header.js
  assets/home/home.scss
  assets/home/index.js
  assets/home/main.js
  assets/home/section.js
  assets/home/sections/extensions.js
  assets/home/sections/get-help.js
  assets/home/sections/latest-news.js
  assets/home/sections/quick-links.js
  assets/home/sections/sensei-guides.js
  assets/home/sections/sensei-pro-ad.js
  assets/home/sections/task-list.js
  assets/home/update-notification/index.js
  assets/home/update-notification/multiple.js
  assets/home/update-notification/single.js
  assets/home/update-notification/update-available.js
  assets/home/update-notification/woocommerce-notice.js
  includes/admin/class-sensei-extensions.php
  includes/admin/class-sensei-home.php
  includes/admin/views/html-admin-page-extensions-categories.php
  includes/admin/views/html-admin-page-extensions-results.php
  includes/admin/views/html-admin-page-extensions.php
  includes/admin/views/html-admin-page-home-messages.php
  includes/admin/views/html-admin-page-home.php
  includes/class-sensei-admin.php
  includes/class-sensei-autoloader.php
  includes/class-sensei-posttypes.php
  tests/unit-tests/admin/test-class-sensei-extensions.php
  webpack.config.js
Labels: [Type] Enhancement, Home

#5569 Add persistence to the Sensei Notices API, using user metas
  includes/class-sensei-notices.php
Labels: [Type] Bug

#5746 Learning Mode - Show Sensei notices inside LM notices.
  includes/blocks/course-theme/class-notices.php
  includes/class-sensei-notices.php
  includes/course-theme/class-sensei-course-theme-lesson.php
  includes/course-theme/class-sensei-course-theme.php
Labels: Learning Mode

#5778 Remove notices from setup wizard
  includes/admin/class-sensei-setup-wizard.php
Labels: [Type] Bug, New Onboarding Wizard

#5768 Fix unit tests on WP nightly
  tests/unit-tests/student-progress/course-progress/repositories/test-class-comments-based-course-progress-repository.php
  tests/unit-tests/student-progress/lesson-progress/repositories/test-class-comments-based-lesson-progress-repository.php
  tests/unit-tests/student-progress/quiz-progress/repositories/test-class-comments-based-quiz-progress-repository.php
Labels: [Type] Maintenance

#5788 Add/enable lm for new users
  includes/class-sensei-settings.php
  includes/class-sensei.php
  includes/course-theme/class-sensei-course-theme-option.php
Labels: Learning Mode

#5764 Fix draft lessons not getting duplicated with course
  includes/class-sensei-admin.php
  tests/unit-tests/test-class-admin.php
Labels: [Type] Bug

#5809 Prevent modules to be linked in learning mode
  includes/course-theme/class-sensei-course-theme.php
  tests/unit-tests/course-theme/test-class-sensei-course-theme.php
Labels: [Type] Bug

#5763 Fix falling lint
  includes/class-sensei-wp-kses.php
Labels: [Type] Maintenance

#5819 Learning Mode - Keep Featured Video block always on top
  assets/blocks/featured-video/index.js
Labels: Learning Mode

#5829 Learning Mode - Add support for Featured Video block transformations.
  assets/blocks/featured-video/index.js
  assets/blocks/featured-video/transforms.js
Labels: Learning Mode

#5721 Update lesson properties block to use with LM templates
  assets/blocks/lesson-properties/block.json
  assets/blocks/lesson-properties/lesson-properties-edit.js
  assets/blocks/lesson-properties/lesson-properties-editor.scss
  assets/course-theme/blocks/lesson-blocks/index.js
  assets/course-theme/blocks/lesson-blocks/learning-mode-lesson-properties.block.json
  assets/css/learning-mode.editor.scss
  includes/blocks/class-sensei-lesson-properties-block.php
  includes/blocks/course-theme/class-course-theme-blocks.php
  includes/blocks/course-theme/class-lesson-properties.php
  includes/class-sensei-autoloader.php
Labels: Learning Mode

#5794 Use admin_enqueue_scripts to enqueue JS/CSS scripts on the Onboard Wizard
  includes/admin/class-sensei-setup-wizard.php
Labels: [Type] Enhancement, Hooks, New Onboarding Wizard

#5812 Fix featured video sizing
  assets/course-theme/featured-video-size.js
  includes/blocks/class-sensei-featured-video-block.php
  includes/class-sensei-utils.php
Labels: Learning Mode
