Repository Automattic/sensei, pull requests merged in 2023-03, with the labels that each got.

#6584 Add student complete course email
  changelog/add-student-complete-course-email
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-course-completed.php
  includes/internal/emails/patterns/course-completed.php
  templates/emails/block-email-template.php
  tests/unit-tests/internal/emails/generators/test-class-course-completed.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
Labels: Email Customization

#6578 Add student submit quiz email, refactor email classes, separate pattern structures
  changelog/add-student-complete-course-email
  changelog/add-student-submit-quiz-email
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-course-completed.php
  includes/internal/emails/generators/class-email-generators-abstract.php
  includes/internal/emails/generators/class-student-completes-course.php
  includes/internal/emails/generators/class-student-starts-course.php
  includes/internal/emails/generators/class-student-submits-quiz.php
  includes/internal/emails/patterns/course-completed.php
  includes/internal/emails/patterns/student-completes-course.php
  includes/internal/emails/patterns/student-starts-course.php
  includes/internal/emails/patterns/student-submits-quiz.php
  templates/emails/block-email-template.php
  tests/unit-tests/internal/emails/generators/test-class-course-completed.php
  tests/unit-tests/internal/emails/generators/test-class-student-completes-course.php
  tests/unit-tests/internal/emails/generators/test-class-student-starts-course.php
  tests/unit-tests/internal/emails/generators/test-class-student-submits-quiz.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-generator.php
Labels: Hooks, Email Customization

#6585 Add teacher course assigned email, fix course not allowing to set a course teacher
  assets/js/admin/course-general-sidebar.js
  changelog/add-teacher-course-assigned-email
  includes/class-sensei-autoloader.php
  includes/class-sensei-teacher.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-new-course-assigned.php
  includes/internal/emails/patterns/new-course-assigned.php
  tests/unit-tests/internal/emails/generators/test-class-new-course-assigned.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
Labels: Hooks, Email Customization

#6579 Use "reply to" settings on the new emails
  .gitignore
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-sender.php
  includes/internal/emails/class-email-settings-tab.php
  tests/unit-tests/internal/emails/test-class-email-sender.php
  tests/unit-tests/internal/emails/test-class-email-settings-tab.php
Labels: No Changelog

#6591 Redirect to email list if bulk action button clicked without selecting any action
  includes/internal/emails/class-email-post-type.php
  tests/unit-tests/internal/emails/test-class-email-post-type.php
Labels: Email Customization, No Changelog

#6599 Add Student completes lesson email
  includes/class-sensei-autoloader.php
  includes/class-sensei.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/class-email-sender.php
  includes/internal/emails/generators/class-course-completed.php
  includes/internal/emails/generators/class-email-generators-abstract.php
  includes/internal/emails/generators/class-new-course-assigned.php
  includes/internal/emails/generators/class-quiz-graded.php
  includes/internal/emails/generators/class-student-completes-course.php
  includes/internal/emails/generators/class-student-completes-lesson.php
  includes/internal/emails/generators/class-student-starts-course.php
  includes/internal/emails/generators/class-student-submits-quiz.php
  includes/internal/emails/patterns/student-completes-lesson.php
  tests/unit-tests/internal/emails/generators/test-class-course-completed.php
  tests/unit-tests/internal/emails/generators/test-class-new-course-assigned.php
  tests/unit-tests/internal/emails/generators/test-class-quiz-graded.php
  tests/unit-tests/internal/emails/generators/test-class-student-completes-course.php
  tests/unit-tests/internal/emails/generators/test-class-student-completes-lesson.php
  tests/unit-tests/internal/emails/generators/test-class-student-starts-course.php
  tests/unit-tests/internal/emails/generators/test-class-student-submits-quiz.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-generator.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-sender.php
Labels: [Type] Enhancement, No Changelog

#6594 Add email to be sent to teacher when a student replies to a private message
  changelog/add-teacher-email-reply
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-teacher-message-reply.php
  includes/internal/emails/patterns/teacher-message-reply.php
  tests/unit-tests/internal/emails/generators/test-class-teacher-message-reply.php
  tests/unit-tests/internal/emails/test-class-email-blocks.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-seeder-data.php
Labels: Email Customization

#6596 Add email to be sent to student when the teacher replies to a private message
  changelog/add-student-email-reply
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-student-message-reply.php
  includes/internal/emails/patterns/student-message-reply.php
  tests/unit-tests/internal/emails/generators/test-class-student-message-reply.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
Labels: Email Customization

#6600 Add mail to be sent to the teacher when student sends a new message
  changelog/add-teacher-new-message-mail
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-student-sends-message.php
  includes/internal/emails/patterns/student-sends-message.php
  tests/unit-tests/internal/emails/generators/test-class-student-sends-message.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
Labels: Email Customization

#6551 Add the email preview
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-list-table.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-preview.php
  includes/internal/emails/class-email-sender.php
  includes/internal/emails/views/preview.php
  phpunit.xml
  tests/unit-tests/internal/emails/test-class-email-list-table.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-preview.php
  tests/unit-tests/internal/emails/test-class-email-sender.php
Labels: Email Customization, No Changelog

#6583 Add email preview link to the edit screen
  .github/workflows/code-coverage.yml
  .github/workflows/js.yml
  assets/admin/emails/email-preview-button/email-preview-button.js
  assets/admin/emails/email-preview-button/email-preview-button.scss
  assets/admin/emails/email-preview-button/email-preview-button.test.js
  assets/admin/emails/email-preview-button/index.js
  includes/class-sensei.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-list-table.php
  includes/internal/emails/class-email-preview.php
  tests/unit-tests/internal/emails/generators/test-class-student-sends-message.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-list-table.php
  tests/unit-tests/internal/emails/test-class-email-preview.php
  webpack.config.js
Labels: Email Customization, No Changelog

#6606 Add npm command for adding changelog entry
  package.json
Labels: [Type] Maintenance, No Changelog

#6603 Rename the column title from Description to Email
  includes/class-sensei-list-table.php
  includes/internal/emails/class-email-list-table.php
  tests/unit-tests/internal/emails/test-class-email-list-table.php
  tests/unit-tests/test-class-sensei-list-table.php
Labels: [Type] Enhancement, Email Customization, No Changelog

#6607 Add Course Created email
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-course-created.php
  includes/internal/emails/patterns/course-created.php
  tests/unit-tests/internal/emails/generators/test-class-course-created.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-seeder-data.php
Labels: [Type] Enhancement, Email Customization, No Changelog

#6605 Update language used in email functionality
  changelog/update-email-description
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/class-recreate-emails-tool.php
  tests/unit-tests/internal/emails/test-class-recreate-emails-tool.php
Labels: Email Customization

#6620 Show only view results button in the course complete email that's sent to student
  includes/internal/emails/generators/class-course-completed.php
  includes/internal/emails/patterns/course-completed.php
  tests/unit-tests/internal/emails/generators/test-class-course-completed.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
Labels: Email Customization, No Changelog

#6626 Add email integrations info
  assets/css/settings.scss
  assets/icons/mailpoet-logo.svg
  assets/icons/woo-logo.svg
  includes/internal/emails/views/html-settings.php
  tests/unit-tests/internal/emails/test-class-email-settings-tab.php
Labels: Email Customization, No Changelog

#6630 Fix the quiz submitted email
  includes/internal/emails/class-email-seeder-data.php
Labels: No Changelog

#6614 Scope composer dependencies
  .github/actions/install-php/action.yml
  .github/workflows/build.yml
  .github/workflows/changelogger.yml
  .github/workflows/e2e.yml
  .gitignore
  composer.json
  composer.lock
  config/composer/class-actions.php
  config/scoper.inc.php
  includes/internal/emails/class-email-sender.php
  phpcs.xml.dist
  sensei-lms.php
  tests/bootstrap.php
  tests/unit-tests/config/composer/test-class-actions.php
Labels: [Type] Maintenance, [Status] Needs Documentation, No Changelog

#6625 Add Welcome email
  includes/class-sensei-autoloader.php
  includes/internal/emails/class-email-generator.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-course-welcome.php
  includes/internal/emails/patterns/course-welcome.php
  tests/unit-tests/internal/emails/generators/test-class-course-welcome.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-seeder-data.php
Labels: [Type] Enhancement, Email Customization, No Changelog

#6633 Review all email patterns and the editor configurations
  assets/blocks/email-editor-style.scss
  includes/internal/emails/class-email-blocks.php
  includes/internal/emails/patterns/course-completed.php
  includes/internal/emails/patterns/course-created.php
  includes/internal/emails/patterns/new-course-assigned.php
  includes/internal/emails/patterns/quiz-graded.php
  includes/internal/emails/patterns/student-completes-course.php
  includes/internal/emails/patterns/student-completes-lesson.php
  includes/internal/emails/patterns/student-message-reply.php
  includes/internal/emails/patterns/student-sends-message.php
  includes/internal/emails/patterns/student-starts-course.php
  includes/internal/emails/patterns/student-submits-quiz.php
  includes/internal/emails/patterns/teacher-message-reply.php
  templates/emails/block-email-template.php
Labels: No Changelog

#6639 Remove trash button from email editor
  changelog/add-remove-trash-button-from-email-editor
  includes/internal/emails/class-email-post-type.php
  tests/unit-tests/internal/emails/test-class-email-post-type.php
Labels: Email Customization

#6642 Add usage tracking to emails
  changelog/add-new-emails-usage-tracking
  includes/internal/emails/class-email-sender.php
  includes/internal/emails/generators/class-course-completed.php
  includes/internal/emails/generators/class-course-created.php
  includes/internal/emails/generators/class-course-welcome.php
  includes/internal/emails/generators/class-email-generators-abstract.php
  includes/internal/emails/generators/class-new-course-assigned.php
  includes/internal/emails/generators/class-quiz-graded.php
  includes/internal/emails/generators/class-student-completes-course.php
  includes/internal/emails/generators/class-student-completes-lesson.php
  includes/internal/emails/generators/class-student-message-reply.php
  includes/internal/emails/generators/class-student-sends-message.php
  includes/internal/emails/generators/class-student-starts-course.php
  includes/internal/emails/generators/class-student-submits-quiz.php
  includes/internal/emails/generators/class-teacher-message-reply.php
  tests/unit-tests/internal/emails/test-class-email-sender.php
Labels: Email Customization

#6617 Add course expiration email
  changelog/add-course-expiration-email
  includes/blocks/class-sensei-continue-course-block.php
  includes/class-sensei-utils.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/generators/class-email-generators-abstract.php
  includes/internal/emails/patterns/course-expiration-today.php
  includes/internal/emails/patterns/course-expiration-x-days.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/test-class-utils.php
Labels: Hooks, Email Customization

#6644 Make welcome email follow common pattern and fix broken button in editor on wp 5.9
  includes/internal/emails/patterns/course-welcome.php
  includes/internal/emails/patterns/student-starts-course.php
Labels: Email Customization, No Changelog

#6652 Remove access private annotation and add version in util function
  includes/class-sensei-utils.php
Labels: Email Customization, No Changelog

#6651 Fix bulk actions not getting applied on emails
  includes/internal/emails/class-email-post-type.php
  tests/unit-tests/internal/emails/test-class-email-post-type.php
Labels: Email Customization, No Changelog

#6653 Clicking "Install MailPoet" should open page in same tab
  changelog/fix-install-mailpoet-link-target
  includes/internal/emails/views/html-settings.php
Labels: Email Customization

#6659 Trash emails on plugin uninstall
  changelog/add-delete-emails-on-uninstall
  includes/class-sensei-data-cleaner.php
  tests/unit-tests/test-class-sensei-data-cleaner.php
Labels: Email Customization

#6657 Take user to login page if tries to access course completion page when logged out
  changelog/add-redirect-to-login-from-course-completion-logged-out
  includes/class-sensei-course.php
  tests/unit-tests/test-class-course.php
Labels: Email Customization

#6671 Add showcase documentation link to upsell and filter to allow documentation link in the courses navigation
  includes/class-sensei-course.php
Labels: Hooks

#6668 Disable pro emails by default, allow enabling from pro, show pro badge
  assets/css/global.scss
  changelog/add-disable-pro-emails-and-upsell
  includes/internal/emails/class-email-list-table.php
  includes/internal/emails/class-email-repository.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/class-email-seeder.php
  tests/unit-tests/internal/emails/test-class-email-list-table.php
  tests/unit-tests/internal/emails/test-class-email-repository.php
  tests/unit-tests/internal/emails/test-class-email-seeder-data.php
Labels: Hooks, Email Customization

#6675 Bump the required WP version
  readme.txt
  sensei-lms.php
Labels: [Type] Maintenance, No Changelog

#6681 Fix setup wizard on extensions request error
  assets/setup-wizard/purpose/index.js
  assets/setup-wizard/style.scss
  includes/admin/class-sensei-extensions.php
Labels: [Type] Bug, No Changelog

#6656 Add No Progress Reminder emails
  includes/internal/emails/class-email-patterns.php
  includes/internal/emails/class-email-seeder-data.php
  includes/internal/emails/patterns/student-no-progress-28-days.php
  includes/internal/emails/patterns/student-no-progress-3-days.php
  includes/internal/emails/patterns/student-no-progress-7-days.php
  phpunit.xml
  tests/unit-tests/internal/emails/test-class-email-patterns.php
  tests/unit-tests/internal/emails/test-class-email-seeder-data.php
Labels: Email Customization, No Changelog

#6666 Enable to use page template on the new emails
  assets/blocks/email-editor-style.scss
  assets/images/sensei-circle-logo.png
  includes/class-sensei-autoloader.php
  includes/class-sensei-updates.php
  includes/internal/emails/class-email-blocks.php
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-page-template-repository.php
  includes/internal/emails/class-email-page-template.php
  includes/internal/emails/class-email-post-type.php
  includes/internal/emails/class-email-repository.php
  includes/internal/emails/class-email-sender.php
  templates/block-templates/email-template.html
  templates/emails/block-email-template.php
  tests/unit-tests/internal/emails/test-class-email-page-template-repository.php
  tests/unit-tests/internal/emails/test-class-email-page-template.php
  tests/unit-tests/internal/emails/test-class-email-sender.php
Labels: No Changelog

#6701 Fix email branch all tests
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/reports/overview/data-provider/test-class-sensei-reports-overview-data-provider-students.php
Labels: Email Customization, No Changelog

#6700 Fix Email post type test
  includes/internal/emails/class-email-customization.php
  includes/internal/emails/class-email-post-type.php
  tests/unit-tests/internal/emails/test-class-email-customization.php
  tests/unit-tests/internal/emails/test-class-email-post-type.php
  tests/unit-tests/reports/overview/data-provider/test-class-sensei-reports-overview-data-provider-students.php
Labels: [Type] Bug

#6695 Provide notices to teachers on Sensei Home
  includes/rest-api/class-sensei-rest-api-home-controller.php
  tests/unit-tests/rest-api/test-class-sensei-rest-api-home-controller.php
Labels: Course Showcase

#6704 Fix markup in course expiration emails
  includes/internal/emails/patterns/course-expiration-today.php
  includes/internal/emails/patterns/course-expiration-x-days.php
Labels: Email Customization

#6715 Move the email footer to the page template
  includes/block-patterns/class-sensei-block-patterns.php
  includes/block-patterns/emails/footer.php
  includes/block-patterns/emails/templates/footer.php
  includes/internal/emails/class-email-page-template-repository.php
  includes/internal/emails/class-email-page-template.php
  includes/internal/emails/class-email-patterns.php
  templates/block-templates/email-template.html
  templates/block-templates/email-template.php
Labels: No Changelog

#6638 Add a build step for the third party dependencies
  .github/workflows/build.yml
  package.json
Labels: [Type] Maintenance, No Changelog

#6433 Integrate Sensei and MailPoet
  changelog/add-mailpoet-integration
  includes/class-sensei-autoloader.php
  includes/class-sensei.php
  includes/mailpoet/class-main.php
  includes/mailpoet/class-repository.php
  includes/mailpoet/class-sync-job.php
  tests/bootstrap.php
  tests/framework/class-sensei-mailpoet-api-factory.php
  tests/unit-tests/mailpoet/test-class-main.php
  tests/unit-tests/mailpoet/test-class-repository.php
  tests/unit-tests/mailpoet/test-class-sync-job.php
Labels: Hooks

#6721 Simplify the Pre-Merge Checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: [Type] Maintenance, No Changelog

#6718 Refactor accessibility on front-end module lessons expand button
  changelog/fix-6649-1
  changelog/fix-6649-2
  includes/blocks/class-sensei-course-outline-module-block.php
Labels: Accessibility
