Repository Automattic/sensei, pull requests merged in 2024-04, with the labels that each got.

#7564 Add info and disabled state for tasks
  assets/home/tasks-section/task-item.js
  assets/home/tasks-section/task-item.test.js
  assets/home/tasks-section/tasks.js
  assets/home/tasks-section/tasks.scss
  includes/admin/home/tasks/class-sensei-home-tasks-provider.php
Labels: No Changelog

#7573 Use --wp-admin-theme-color variable as fallback before currentColor
  assets/admin/tour/style.scss
Labels: No Changelog

#7578 Fix E2E tests
  tests/e2e-playwright/pages/admin/post-type/index.ts
Labels: No Changelog

#7580 Release 4.23.0
  changelog.txt
  changelog/add-deprecate-sell-course-wth-woocommerce-task
  changelog/add-make-sure-focused-elements-are-visible
  changelog/add-sensei-pro-upsell-task
  changelog/fix-viewing-lesson-content
  changelog/remove-opinionated-block-editor-class
  includes/admin/class-sensei-tour.php
  includes/admin/home/tasks/task/class-sensei-home-task-pro-upsell.php
  includes/admin/home/tasks/task/class-sensei-home-task-sell-course-with-woocommerce.php
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
  themes/sensei-course-theme/readme.txt
Labels: No Changelog

#7492 WPML: Shared student progress and quiz submission
  changelog/fix-wpml-progress
  includes/blocks/class-sensei-block-take-course.php
  includes/blocks/class-sensei-course-progress-block.php
  includes/class-sensei-course.php
  includes/class-sensei-frontend.php
  includes/class-sensei-utils.php
  includes/enrolment/class-sensei-course-manual-enrolment-provider.php
  includes/internal/quiz-submission/answer/repositories/class-comments-based-answer-repository.php
  includes/internal/quiz-submission/answer/repositories/class-tables-based-answer-repository.php
  includes/internal/quiz-submission/grade/repositories/class-comments-based-grade-repository.php
  includes/internal/quiz-submission/grade/repositories/class-tables-based-grade-repository.php
  includes/internal/quiz-submission/submission/repositories/class-comments-based-submission-repository.php
  includes/internal/quiz-submission/submission/repositories/class-tables-based-submission-repository.php
  includes/internal/student-progress/course-progress/repositories/class-comments-based-course-progress-repository.php
  includes/internal/student-progress/course-progress/repositories/class-tables-based-course-progress-repository.php
  includes/internal/student-progress/lesson-progress/repositories/class-comments-based-lesson-progress-repository.php
  includes/internal/student-progress/lesson-progress/repositories/class-tables-based-lesson-progress-repository.php
  includes/internal/student-progress/quiz-progress/repositories/class-comments-based-quiz-progress-repository.php
  includes/internal/student-progress/quiz-progress/repositories/class-tables-based-quiz-progress-repository.php
  includes/wpml/class-course-progress.php
  includes/wpml/class-course-translation.php
  includes/wpml/class-language-details.php
  includes/wpml/class-lesson-progress.php
  includes/wpml/class-lesson-translation.php
  includes/wpml/class-quiz-progress.php
  includes/wpml/class-quiz-submission.php
  includes/wpml/class-utils.php
  includes/wpml/class-wpml.php
  tests/unit-tests/wpml/test-class-course-progress.php
  tests/unit-tests/wpml/test-class-lesson-progress.php
  tests/unit-tests/wpml/test-class-quiz-progress.php
  tests/unit-tests/wpml/test-class-quiz-submission.php
  tests/unit-tests/wpml/test-class-utils.php
Labels: Hooks, WPML

#7559 WPML: Fix usage of question categories in translated quizzes
  changelog/fix-wpml-question-categories
  config/psalm/psalm-baseline.xml
  includes/class-sensei-course.php
  includes/wpml/class-language-details.php
  includes/wpml/class-page.php
  includes/wpml/class-wpml.php
  includes/wpml/trait-quiz-translation-helper.php
  tests/unit-tests/wpml/test-class-language-details.php
  tests/unit-tests/wpml/test-class-page.php
Labels: Hooks, WPML

#7566 Extract WPML API and create duplicates when they are needed
  includes/wpml/class-course-progress.php
  includes/wpml/class-course-translation.php
  includes/wpml/class-custom-fields.php
  includes/wpml/class-language-details.php
  includes/wpml/class-lesson-progress.php
  includes/wpml/class-lesson-translation.php
  includes/wpml/class-page.php
  includes/wpml/class-quiz-progress.php
  includes/wpml/class-quiz-submission.php
  includes/wpml/class-utils.php
  includes/wpml/trait-lesson-translation-helper.php
  includes/wpml/trait-question-translation-helper.php
  includes/wpml/trait-quiz-translation-helper.php
  includes/wpml/trait-wpml-api.php
Labels: No Changelog, WPML

#7568 Create translations for questions in category
  config/psalm/psalm-baseline.xml
  includes/wpml/trait-quiz-translation-helper.php
  tests/unit-tests/wpml/test-class-lesson-translation.php
Labels: No Changelog, WPML

#7569 Add WPML settings tab
  changelog/fix-wpml-translate-slugs
  config/psalm/psalm-baseline.xml
  includes/wpml/class-settings.php
  includes/wpml/class-slug.php
  includes/wpml/class-wpml.php
  includes/wpml/trait-wpml-api.php
Labels: Documentation, No Changelog, WPML

#7583 Show user courses for sensei_user_courses shortcode in different languages
  changelog/fix-wpml-my-courses
  includes/blocks/course-list/class-sensei-course-list-block.php
  includes/class-sensei-course.php
  includes/class-sensei-frontend.php
  includes/class-sensei-learner.php
  includes/class-sensei-messages.php
  includes/class-sensei-settings.php
  includes/enrolment/class-sensei-course-manual-enrolment-provider.php
  includes/sensei-functions.php
  includes/shortcodes/class-sensei-shortcode-user-courses.php
  includes/wpml/class-course-progress.php
  includes/wpml/class-page.php
  includes/wpml/trait-quiz-translation-helper.php
  tests/unit-tests/wpml/test-class-course-progress.php
  widgets/class-sensei-course-component-widget.php
Labels: Hooks, WPML

#7588 WPML: Add custom fields to the config
  includes/wpml/class-custom-fields.php
  tests/unit-tests/wpml/test-class-custom-fields.php
  wpml-config.xml
Labels: No Changelog, WPML

#7590 Fix preview links and button for emails
  assets/admin/emails/email-preview-button/email-preview-button.js
  assets/admin/emails/email-preview-button/email-preview-button.scss
  assets/admin/emails/email-preview-button/email-preview-button.test.js
  assets/admin/emails/email-preview-button/index.js
  changelog/fix-email-preview-link
  includes/internal/emails/class-email-preview.php
  tests/unit-tests/internal/emails/test-class-email-preview.php
  webpack.config.js
Labels: Emails

#7591 Add default Babel config file
  babel.config.js
Labels: No Changelog

#7596 Avoid unauthenticated flushing rewrite rules
  changelog/fix-unauthenticated-flush-rewrite-rules
  includes/class-sensei-settings.php
Labels: [Type] Bug, Deprecation

#7597 Release 4.24.0
  changelog.txt
  changelog/add-email-opt-in-out
  changelog/add-new-videopress-block-support
  changelog/fix-email-preview-link
  changelog/fix-style-comments
  changelog/fix-unauthenticated-flush-rewrite-rules
  includes/class-sensei-emails.php
  includes/class-sensei-settings.php
  includes/internal/emails/class-email-subscription.php
  includes/internal/emails/class-email-user-profile-settings.php
  includes/internal/emails/views/profile-email-settings-subscription.php
  includes/internal/emails/views/profile-email-settings.php
  lang/sensei-lms.pot
  package-lock.json
  package.json
  readme.txt
  sensei-lms.php
Labels: No Changelog
